.Intro {
    height: 100%;
    background-color: white;
    padding: 0;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
}

.Intro h1 {
    text-align: center;
    margin-top: 3%;
}

.Intro h {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 100%;
}

/* .Intro hr {
    border: 1px solid yellow
} */

.Intro p {
    margin: 2%;
    text-align: justify;
    text-decoration: none;
}

.Intro img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}